@import './components/auth.css';
@import './routes/dashboard/dashboard.css';

.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 1;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
